
button {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FF8800;
  padding: 10px 50px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #FF8800;
  display: inline-block;
  cursor: pointer;
  width: 80%;
  color: #fff;
  display: block;
}

button:hover {
	background: #BD6500;
}

body {
width: 90%;
max-width: 900px;
margin: auto;
/*border: 1px solid #4E4D50;
border-radius: 10px;*/
color: #4E4D50;
display: block;
text-align: center;
}

h1, h2, h3 {
  text-align: center;
}

/*#green {
  float: left;
  width: 150px;
  height: 150px;
  margin: 10px;
  border: none;
  background-color: #068C8D;
}

#blue {
  float: left;
  width: 150px;
  height: 150px;
  margin: 10px;
  border: none;
  background-color: #38C0F6;
}

#tan {
  float: left;
  width: 150px;
  height: 150px;
  margin: 10px;
  border: none;
  background-color: #FFE9CA;
}

#orange {
  float: left;
  width: 150px;
  height: 150px;
  margin: 10px;
  border: none;
  background-color: #FF7B1B;
}

#pink {
  float: left;
  width: 150px;
  height: 150px;
  margin: 10px;
  border: none;
  background-color: #F52D8A;
}*/
